<div style="text-align:center">
  <mat-toolbar>
    <div>
      <mat-icon class="header-icon" color="accent">whatshot</mat-icon> <span style="margin-left: 40px;">Mission Control</span>
    </div>

    <button *ngIf="pullRequests" mat-raised-button color="primary" matBadge="{{pullRequests.length}}"
      matBadgePosition="before" matBadgeColor="accent" style="margin-left: auto;">
      Active Pull Requests
    </button>

    <button *ngIf="builds" mat-raised-button color="primary" matBadge="{{getNumberOfRunningBuilds()}}"
      matBadgePosition="before" matBadgeColor="accent">
      Running Builds
    </button>

    <button *ngIf="workInProgress" mat-raised-button color="primary" matBadge="{{workInProgress.length + workAwaitingTest.length + workInTest.length + workAwaitingRelease.length}}"
    matBadgePosition="before" matBadgeColor="accent">
    Cards In Progress
  </button>
  </mat-toolbar>

  <div class="activePullRequests"
    style="width:480px; border-right: 1px solid #f5f5f5;justify-content: center;min-height: 100%;float:left;margin:10px;">
    <mat-icon style="font-size: 30px;margin:20px;">code</mat-icon>
    <div *ngIf="pullRequests">
      <mat-card *ngFor="let request of pullRequests" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"
            [ngStyle]="{'background-image':'url('+request.createdBy._links.avatar.href+')'}"></div>
          <mat-card-title>{{request.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{request.description}}
          </p>
        </mat-card-content>
        <mat-card-footer>
          <mat-icon matBadge="{{getAgeOfPullRequest(request)}}"
            matBadgeColor="{{getAgeOfPullRequest(request) > 24 ? 'warn' : 'accent'}}">hourglass_full</mat-icon>
          <mat-icon *ngIf="approved(request)" style="color:limegreen" selected>check_circle</mat-icon>
          <mat-icon *ngIf="awaitingReviewer(request)" style="color:orange" selected>rate_review</mat-icon>
          <div style="float:right" class="repo">
            <img class="vstsRepoIcon" src="../assets/vstsRepo.png">
            {{request.repository.name}}
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
    <div *ngIf="!pullRequests || pullRequests.length == 0" style="padding-top:30vh;color:#8c8c8c">
      <mat-icon style="font-size: 200px; width:200px;" color="accent" selected>face</mat-icon>
      <p>No pull requests - well done team!</p>
    </div>
  </div>

  <div class="builds" style="float:left;margin:10px;border-right: 1px solid #f5f5f5;padding-right: 20px;">
      <mat-icon style="font-size: 30px;margin:20px;">build</mat-icon>
      <div *ngIf="builds">
        <mat-card *ngFor="let build of getRunningBuilds()" class="example-card" [style.background-color]="getBuildStatusColour(build)">
          <mat-card-header>   
              <div mat-card-avatar class="example-header-image"
             ><mat-icon style="color:'{{getBuildStatusColour(build)}}'">warning</mat-icon></div>
            <mat-card-title>{{build.definition.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{build.status}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
     


    <div *ngIf="builds" style="width:25vw">
      <mat-grid-list cols="6" rowHeight="1:1">
        <mat-grid-tile [style.background-color]="getBuildStatusColour(build)" *ngFor="let build of builds" style="display:block;font-size: 12px;"></mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>





  <div class="work" style="float:left;margin:10px;">
    <mat-icon style="font-size: 30px;margin:20px;">note</mat-icon>
    <br/>
    <button *ngIf="workInProgress" mat-raised-button color="primary" matBadge="{{workInProgress.length}}"
    matBadgePosition="before" matBadgeColor="accent" style="width:25vw; margin:10px" [style.background-color]="getwipColor()">
    Cards In Development
  </button> <br/>
  <button *ngIf="workAwaitingTest" mat-raised-button color="primary" matBadge="{{workAwaitingTest.length}}"
    matBadgePosition="before" matBadgeColor="accent" style="width:25vw;margin:10px" [style.background-color]="workAwaitingTest.length > 3 ? 'red' : 'none'">
    Cards Awaiting Test
  </button> <br/>
  <button *ngIf="workInTest" mat-raised-button color="primary" matBadge="{{workInTest.length}}"
    matBadgePosition="before" matBadgeColor="accent" style="width:25vw;margin:10px" [style.background-color]="workInTest.length > 3 ? 'red' : 'none'">
    Cards In Test
  </button> <br/>
  <button *ngIf="workAwaitingRelease" mat-raised-button color="primary" matBadge="{{workAwaitingRelease.length}}"
    matBadgePosition="before" matBadgeColor="accent" style="width:25vw;margin:10px" [style.background-color]="workAwaitingRelease.length > 3 ? 'red' : 'none'">
    Cards Awaiting Deployment
  </button> <br/>
</div>
</div>